In [1]:
import pandas as pd
import numpy as np

In [3]:
train_df=pd.read_csv("/content/Stock_Price_Train.csv")

In [4]:
train_df

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [7]:
test_df=pd.read_csv("/content/Stock_Price_Test.csv")

In [8]:
test_df

         Date    Open    High     Low   Close     Volume
0    1/3/2017  778.81  789.63  775.80  786.14  1,657,300
1    1/4/2017  788.36  791.34  783.16  786.90  1,073,000
2    1/5/2017  786.08  794.48  785.02  794.02  1,335,200
3    1/6/2017  795.26  807.90  792.20  806.15  1,640,200
4    1/9/2017  806.40  809.97  802.83  806.65  1,272,400
5   1/10/2017  807.86  809.13  803.51  804.79  1,176,800
6   1/11/2017  805.00  808.15  801.37  807.91  1,065,900
7   1/12/2017  807.14  807.39  799.17  806.36  1,353,100
8   1/13/2017  807.48  811.22  806.69  807.88  1,099,200
9   1/17/2017  807.08  807.14  800.37  804.61  1,362,100
10  1/18/2017  805.81  806.21  800.99  806.07  1,294,400
11  1/19/2017  805.12  809.48  801.80  802.17    919,300
12  1/20/2017  806.91  806.91  801.69  805.02  1,670,000
13  1/23/2017  807.25  820.87  803.74  819.31  1,963,600
14  1/24/2017  822.30  825.90  817.82  823.87  1,474,000
15  1/25/2017  829.62  835.77  825.06  835.67  1,494,500
16  1/26/2017  837.81  838.00  827.01  832.15  2,973,900
17  1/27/2017  834.71  841.95  820.44  823.31  2,965,800
18  1/30/2017  814.66  815.84  799.80  802.32  3,246,600
19  1/31/2017  796.86  801.25  790.52  796.79  2,160,600

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Open    20 non-null     float64
 2   High    20 non-null     float64
 3   Low     20 non-null     float64
 4   Close   20 non-null     float64
 5   Volume  20 non-null     object
dtypes: float64(4), object(2)
memory usage: 1.1+ KB

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
train_df['Close']=train_df['Close'].astype(str).str.replace(",","").astype(float)
test_df['Close']=test_df['Close'].astype(str).str.replace(",","").astype(float)

In [13]:
train_scaler=MinMaxScaler()
train_df['Normalized Close']=train_scaler.fit_transform(train_df['Close'].values.reshape(-1,1))

In [14]:
test_scaler=MinMaxScaler()
test_df['Normalized Close']=test_scaler.fit_transform(test_df['Close'].values.reshape(-1,1))

In [15]:
x_train=train_df['Normalized Close'].values[:-1].reshape(-1,1,1)
y_train=train_df['Normalized Close'].values[1:].reshape(-1,1,1)

In [16]:
x_test=test_df['Normalized Close'].values[:-1].reshape(-1,1,1)
y_test=test_df['Normalized Close'].values[1:].reshape(-1,1,1)

In [17]:
print("X_train shape:",x_train.shape)
print("y_train shape:",y_train.shape)
print("x_test shape:",x_test.shape)
print("y_test shape:",y_test.shape)

X_train shape: (19, 1, 1)
y_train shape: (19, 1, 1)
x_test shape: (19, 1, 1)
y_test shape: (19, 1, 1)

In [18]:
from keras.models import Sequential
from keras.layers import LSTM,Dense

In [19]:
model=Sequential()
model.add(LSTM(4,input_shape=(1,1)))
model.add(Dense(1))
model.compile(loss="mean_squared_error",optimizer='adam')
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 4)                 96

 dense (Dense)               (None, 1)                 5

=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.fit(x_train,y_train,epochs=100,batch_size=1,verbose=1)

Epoch 1/100
19/19 [==============================] - 2s 5ms/step - loss: 0.2969
Epoch 2/100
19/19 [==============================] - 0s 3ms/step - loss: 0.2686
Epoch 3/100
19/19 [==============================] - 0s 5ms/step - loss: 0.2408
Epoch 4/100
19/19 [==============================] - 0s 5ms/step - loss: 0.2153
Epoch 5/100
19/19 [==============================] - 0s 3ms/step - loss: 0.1927
Epoch 6/100
19/19 [==============================] - 0s 3ms/step - loss: 0.1724
Epoch 7/100
19/19 [==============================] - 0s 4ms/step - loss: 0.1533
Epoch 8/100
19/19 [==============================] - 0s 5ms/step - loss: 0.1372
Epoch 9/100
19/19 [==============================] - 0s 6ms/step - loss: 0.1211
Epoch 10/100
19/19 [==============================] - 0s 3ms/step - loss: 0.1080
Epoch 11/100
19/19 [==============================] - 0s 5ms/step - loss: 0.0968
Epoch 12/100
19/19 [==============================] - 0s 5ms/step - loss: 0.0862
Epoch 13/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0777
Epoch 14/100
19/19 [==============================] - 0s 4ms/step - loss: 0.0703
Epoch 15/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0649
Epoch 16/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0592
Epoch 17/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0558
Epoch 18/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0526
Epoch 19/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0498
Epoch 20/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0481
Epoch 21/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0462
Epoch 22/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0451
Epoch 23/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0442
Epoch 24/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0434
Epoch 25/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0428
Epoch 26/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0421
Epoch 27/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0417
Epoch 28/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0415
Epoch 29/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0409
Epoch 30/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0404
Epoch 31/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0401
Epoch 32/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0397
Epoch 33/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0394
Epoch 34/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0391
Epoch 35/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0387
Epoch 36/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0384
Epoch 37/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0380
Epoch 38/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0377
Epoch 39/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0377
Epoch 40/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0370
Epoch 41/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0368
Epoch 42/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0364
Epoch 43/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0364
Epoch 44/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0359
Epoch 45/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0356
Epoch 46/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0353
Epoch 47/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0349
Epoch 48/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0346
Epoch 49/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0344
Epoch 50/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0341
Epoch 51/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0337
Epoch 52/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0336
Epoch 53/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0331
Epoch 54/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0328
Epoch 55/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0328
Epoch 56/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0326
Epoch 57/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0321
Epoch 58/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0318
Epoch 59/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0315
Epoch 60/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0313
Epoch 61/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0312
Epoch 62/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0307
Epoch 63/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0306
Epoch 64/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0303
Epoch 65/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0302
Epoch 66/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0298
Epoch 67/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0297
Epoch 68/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0293
Epoch 69/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0292
Epoch 70/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0290
Epoch 71/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0286
Epoch 72/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0285
Epoch 73/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0283
Epoch 74/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0282
Epoch 75/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0278
Epoch 76/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0276
Epoch 77/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0276
Epoch 78/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0273
Epoch 79/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0271
Epoch 80/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0269
Epoch 81/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0267
Epoch 82/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0266
Epoch 83/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0266
Epoch 84/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0266
Epoch 85/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0261
Epoch 86/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0260
Epoch 87/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0259
Epoch 88/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0256
Epoch 89/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0256
Epoch 90/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0254
Epoch 91/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0252
Epoch 92/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0250
Epoch 93/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0252
Epoch 94/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0248
Epoch 95/100
19/19 [==============================] - 0s 2ms/step - loss: 0.0245
Epoch 96/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0245
Epoch 97/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0245
Epoch 98/100
19/19 [==============================] - 0s 3ms/step - loss: 0.0244
Epoch 99/100
19/19 [==============================] - 0s 4ms/step - loss: 0.0242
Epoch 100/100
19/19 [==============================] - 0s 4ms/step - loss: 0.0248

In [22]:
y_pred=model.predict(x_test)

1/1 [==============================] - 0s 481ms/step

In [23]:
y_test_actual = test_scaler.inverse_transform(y_test.reshape(-1, 1))
y_pred_actual = test_scaler.inverse_transform(y_pred.reshape(-1, 1))

In [24]:
print("Actual value:{:.2f}".format(y_test_actual[1][0]))
print("Predicted value:{:.2f}".format(y_pred_actual[1][0]))

Actual value:794.02
Predicted value:797.43